
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
/* text-color */
.text-orange{
    color: rgba(254, 163, 1, 1);
}
.text-skyblue{
  color: rgba(1, 172, 253, 1);
}
.text-pest{
  color: rgba(5, 212, 223, 1);
}
.text-purple{
  color: #5D58EF;
}
/* button color */
.btn-primary, .btn-primary-black{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 10px 60px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
}
.btn-primary-black{
  background-color: black;
}
/* navbar related styles */
header{
  max-width: 1158px;
  margin: 0 auto;
  height: 575px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.25rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    max-width: 1440px;
    margin: 0 auto; 
  }

/* banner styles */
 .banner{
  align-items: center;
  gap: 50px;
 }
 .banner-title{
  font-size: 3.5rem;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 18px;
 }
 .banner-description{
  font-size: 1.25rem;
 }
 
/* standard Curriculum */
.standard-section{
  background-image: url('../assets/bg.png');
  max-width: 1440px;
}
.standard-content{
  font-size: 2.8rem;
  text-align: center;
  padding-top: 60px;
}
.div-container{
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 28px;
  text-align: center;
  margin: 140px 200px;
}
.div-card{
  /* width: 360px;
  height: 470px; */
  border: 1px solid black;
  border-radius: 18px;
  background-color: #DEF5FF;
}
 


/* small device responsive styles */
@media screen and (max-width: 576px) {
 .school-none, .nav-links, .btn-div{
    display: none;
  }
.hamburger{
  display: flex;
  font-size: 30px;
}
.logo{
  margin-bottom: 12px;
}
.navbar{
  border-bottom: 1px solid #FF900E;
}
.banner{
  flex-direction: column-reverse;
}
.banner-image{
  width: 90%;
  margin: 20px;
}
.banner-content{
  text-align: center;
}

}
/* large device responsive styles */
@media screen and (min-width: 576px){
  .hamburger{
    display: none;
  }
}